body {
    height: 100vh;
    background: radial-gradient(white,rgb(0, 255, 238,0.6));
    color: #495057;
    text-align: center;
    margin: 50px;
}

.al {
    
    
    background: radial-gradient(white,rgb(0, 255, 238,0.6));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    background: radial-gradient(white,rgb(0, 255, 238,0.6));
    padding:15px;
    border-radius: 10px;
    color: #000000;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Philosopher', sans-serif;
}

img {
    
    
}

a {

    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    font-family: 'Philosopher', sans-serif;
}

h4 {
  
    background: radial-gradient(white,rgb(0, 255, 238,0.8));
    font-family: 'Philosopher', sans-serif;
    background-color: #f8f9fa;
    padding:15px;
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
    border-radius: 10px;
    background: radial-gradient(white,rgb(0, 255, 238,0.4));
    font-family: 'Philosopher', sans-serif;
    color: #000000;
    padding: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    
}